@model IEnumerable<CucDiSanService.Models.Content>
@if (Model != null && Model.Count() > 0)
{
    <div class="box thong-bao">
        <div class="box-title">
            <i class="fa fa-bell icon"></i><a href="thong-bao-moi">Thông báo mới</a>
        </div>
        <div class="box-body notification">
            <marquee onmouseout="this.start();" language="javascript" width="100%" height="250" onmouseover="this.stop();" scrolldelay="50" direction="up" scrollamount="1">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-12">
                            <div class="item">
                                <a href="@item.contentAlias" title="@item.contentName">
                                    @if (item.contentName.Length > 70)
                                    {
                                        @Html.Raw(item.contentName.Substring(0, 70) + "...")
                                        <img src="~/Content/iconnew.png" height="16" alt="icon-new" />
                                    }
                                    else
                                    {
                                        @Html.Raw(item.contentName)
                                        <img src="~/Content/iconnew.png" height="16" alt="icon-new" />
                                    }
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </marquee>
        </div>
    </div>
}




