img.thumb {
    width: 100%;
    height: auto;
}

.slider .item {
    position: relative;
    margin-bottom: 15px;
    padding: 0px;
}

    .slider .item .title {
        position: absolute;
        line-height: 30px;
        bottom: 0px;
        background: rgba(104,104,104, 0.4);
        padding: 0px 10px;
        color: #fff;
    }
